<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

     <!-- <p><%= @user.username %></p> -->



     <% if @user.is_logged_in? %>
       <% @user.current_user(session) %>
       <!-- <p><%= @user.balance %></p> -->
     <% else %>

     <% end %>

     <a href="/logout">Log Out</a>
  </body>
</html>
